
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.buitenzorg.syndicate.v2">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission	android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.ACCESS_ALL_DOWNLOADS"/>
	<uses-permission	android:name="android.permission.ACCESS_BLUETOOTH_SHARE"/>
	<uses-permission	android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>
	<uses-permission	android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
	<application
		android:allowBackup="true"
		android:label="Buitenzorg Sosmed Downloader V2"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".IntropagekasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".WhatsappKasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".IntroWhatsappActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".IntroYoutubeActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ViewStorykasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".ViewfotokasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".IntroBusinesskasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".BusinessKasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".PrakasaFabActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".AkasFabActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".NoInternetkasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".YoutubeKasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".IntroInstagramActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".InstagramKasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".NokoneksiActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".IntroMediafirekasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".MediafireKasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".NokoneksikasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>